
/* Game CSS*/
  canvas{
    background-image: url('world.png');
    width: 90%;
    height: 95%;
    border: 10px inset black;
    position: center;
    background-size: 100% 100%;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-color:rgba(128, 128, 128, 0.338);
    background-size: cover;
    background-repeat: space;
    position: relative;
  }
  #container {
    max-width: 50em;
    background-color: rgb(172, 163, 165);
    margin: auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;

    }
  .image{
    position: absolute;
    bottom: 200px;
    right:400px;
  }
  #seconds{
    font-weight: bold;
    font-size: 30px;
    color: rgb(5, 96, 5)
  }
  #prize{
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin: -40px;
  }
  #flag1{
    width: 100px;
    height: 100px;
  }
  #flag2{
    width: 100px;
    height: 100px;
  }
  #flag3{
    width: 100px;
    height: 100px;
  }
  #flag4{
    width: 100px;
    height: 100px;
  }
  #flag5{
    width: 100px;
    height: 100px;
  }
  #flag6{
    width: 100px;
    height: 100px;
  }
  #flag7{
    width: 100px;
    height: 100px;
  }
  #flag8{
    width: 100px;
    height: 100px;
  }
  #flag9{
    width: 100px;
    height: 100px;
  }
  #flag10{
    width: 100px;
    height: 100px;
  }
  #flag11{
    width: 100px;
    height: 100px;
  }

  #flag12{
    width: 100px;
    height: 100px;
  }

/* start page style*/
.bg-video {
  height:400px;
  width:100%;
  overflow:hidden;
}
.bg-video video {
  width: 100%;
  height: 800px;
}

.btn{
  font-weight: bold;
  color: green;
  font-size: 50px;
  text-align: center;
}
#instructions{
  font-size: 30px;

}

