html,body {
    margin: 0;
    padding: 0;
  }
  .container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-color:rgba(128, 128, 128, 0.338);
    background-size: cover;
    background-repeat: space;
  }
  

  main {
    /* background-image: url('../img/stone.png'); */
    /* background-repeat: repeat; */
    background-image: url('world.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: center;
    
  }
  #flag1{
    position: absolute;
    bottom: 500px;
    right: 500px;
    width: 40px;
    height: 40px;
  }
  #flag2{
    position: absolute;
    bottom: 300px;
    right: 400px;
    width: 40px;
    height: 40px;
  }
  #flag3{
    position: absolute;
    bottom: 400px;
    left: 180px;
    width: 40px;
    height: 40px;
  }
  #flag4{
    position: absolute;
    bottom: 500px;
    right: 500px;
    width: 40px;
    height: 40px;
  }
  #flag5{
    position: absolute;
    bottom: 500px;
    right: 500px;
    width: 40px;
    height: 40px;
  }
  #flag6{
    position: absolute;
    bottom: 300px;
    right: 400px;
    width: 40px;
    height: 40px;
  }
  #flag7{
    position: absolute;
    bottom: 500px;
    right: 500px;
    width: 40px;
    height: 40px;
  }
  #flag8{
    position: absolute;
    bottom: 350px;
    right: 450px;
    width: 40px;
    height: 40px;
  }
  #flag9{
    position: absolute;
    bottom: 00px;
    left: 150px;
    width: 40px;
    height: 40px;
  }
  #flag10{
    position: absolute;
    bottom: 300px;
    right: 400px;
    width: 40px;
    height: 40px;
  }
  #flag11{
    position: absolute;
    bottom: 500px;
    right: 500px;
    width: 40px;
    height: 40px;
  }
 
  #flag12{
    position: absolute;
    bottom: 300px;
    right: 400px;
    width: 40px;
    height: 40px;
  }
  
  
  
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;

  }
  